.u-section-1 .u-sheet-1 {
  min-height: 2009px;
}

.u-section-1 .u-form-1 {
  height: 937px;
  margin: 8px 254px 0 286px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: none;
}

.u-section-1 .u-list-1 {
  width: 203px;
  margin: 124px auto 60px 117px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 154px;
    margin-left: 186px;
    width: 600px;
  }

  .u-section-1 .u-form-group-1 {
    height: 313px;
    width: 570px;
    margin-top: 29px;
    margin-right: 570px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-form-group-2 {
    height: 313px;
    width: 570px;
    margin-top: 29px;
    margin-right: 570px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-form-group-3 {
    height: 313px;
    width: 570px;
    margin-top: 29px;
    margin-right: 570px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-form-group-4 {
    height: 313px;
    width: 570px;
    margin-top: 29px;
    margin-right: 570px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-form-group-5 {
    height: 313px;
    width: 570px;
    margin-top: 29px;
    margin-right: 570px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-form-group-6 {
    height: 313px;
    width: 570px;
    margin-top: 29px;
    margin-right: 570px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-form-group-7 {
    height: 313px;
    width: 570px;
    margin-top: 29px;
    margin-right: 570px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-form-group-8 {
    height: 313px;
    width: 570px;
    margin-top: 29px;
    margin-right: 570px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-form-group-9 {
    height: 313px;
    width: 570px;
    margin-top: 29px;
    margin-right: 570px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-form-group-10 {
    height: 313px;
    width: 570px;
    margin-top: 29px;
    margin-right: 570px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 44px;
    margin-left: 76px;
  }

  .u-section-1 .u-form-group-1 {
    margin-right: 350px;
  }

  .u-section-1 .u-form-group-2 {
    margin-right: 350px;
  }

  .u-section-1 .u-form-group-3 {
    margin-right: 350px;
  }

  .u-section-1 .u-form-group-4 {
    margin-right: 350px;
  }

  .u-section-1 .u-form-group-5 {
    margin-right: 350px;
  }

  .u-section-1 .u-form-group-6 {
    margin-right: 350px;
  }

  .u-section-1 .u-form-group-7 {
    margin-right: 350px;
  }

  .u-section-1 .u-form-group-8 {
    margin-right: 350px;
  }

  .u-section-1 .u-form-group-9 {
    margin-right: 350px;
  }

  .u-section-1 .u-form-group-10 {
    margin-right: 350px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
    width: 540px;
  }

  .u-section-1 .u-form-group-1 {
    width: 540px;
    margin-right: 170px;
  }

  .u-section-1 .u-form-group-2 {
    width: 540px;
    margin-right: 170px;
  }

  .u-section-1 .u-form-group-3 {
    width: 540px;
    margin-right: 170px;
  }

  .u-section-1 .u-form-group-4 {
    width: 540px;
    margin-right: 170px;
  }

  .u-section-1 .u-form-group-5 {
    width: 540px;
    margin-right: 170px;
  }

  .u-section-1 .u-form-group-6 {
    width: 540px;
    margin-right: 170px;
  }

  .u-section-1 .u-form-group-7 {
    width: 540px;
    margin-right: 170px;
  }

  .u-section-1 .u-form-group-8 {
    width: 540px;
    margin-right: 170px;
  }

  .u-section-1 .u-form-group-9 {
    width: 540px;
    margin-right: 170px;
  }

  .u-section-1 .u-form-group-10 {
    width: 540px;
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-5 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-6 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-7 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-8 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-9 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-10 {
    width: 340px;
    margin-right: 0;
  }
}